<div id="<%= dom_id equipment_location %>">
  <p>
    <strong>Equipment:</strong>
    <%= equipment_location.equipment_id %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= equipment_location.location_id %>
  </p>

</div>
