<div id="<%= dom_id treasure_location %>">
  <p>
    <strong>Treasure:</strong>
    <%= treasure_location.treasure_id %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= treasure_location.location_id %>
  </p>

</div>
