<p style="color: green"><%= notice %></p>

<h1>Treasure locations</h1>

<div id="treasure_locations">
  <% @treasure_locations.each do |treasure_location| %>
    <%= render treasure_location %>
    <p>
      <%= link_to "Show this treasure location", treasure_location %>
    </p>
  <% end %>
</div>

<%= link_to "New treasure location", new_treasure_location_path %>
