<div id="<%= dom_id material_location %>">
  <p>
    <strong>Material:</strong>
    <%= material_location.material_id %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= material_location.location_id %>
  </p>

</div>
