<h1>Editing material location</h1>

<%= render "form", material_location: @material_location %>

<br>

<div>
  <%= link_to "Show this material location", @material_location %> |
  <%= link_to "Back to material locations", material_locations_path %>
</div>
