<p style="color: green"><%= notice %></p>

<h1>Monsters</h1>
<div class="compendium-container">
  <div id ="all-entries">
    <div class="row wrap">
      <% @monsters.each do |monster| %>
        <%= render monster %>
        </div>
      <% end %>
    </div>
  </div>
</div>