<div id="<%= dom_id treasure_drop %>">
  <p>
    <strong>Treasure:</strong>
    <%= treasure_drop.treasure_id %>
  </p>

  <p>
    <strong>Drop:</strong>
    <%= treasure_drop.drop_id %>
  </p>

</div>
