<h1>Editing treasure drop</h1>

<%= render "form", treasure_drop: @treasure_drop %>

<br>

<div>
  <%= link_to "Show this treasure drop", @treasure_drop %> |
  <%= link_to "Back to treasure drops", treasure_drops_path %>
</div>
