<p style="color: green"><%= notice %></p>

<h1>Treasure drops</h1>

<div id="treasure_drops">
  <% @treasure_drops.each do |treasure_drop| %>
    <%= render treasure_drop %>
    <p>
      <%= link_to "Show this treasure drop", treasure_drop %>
    </p>
  <% end %>
</div>

<%= link_to "New treasure drop", new_treasure_drop_path %>
