<p style="color: green"><%= notice %></p>

<h1>Creatures</h1>

<div id="creatures">
  <% @creatures.each do |creature| %>
    <%= render creature %>
    <p>
      <%= link_to "Show this creature", creature %>
    </p>
  <% end %>
</div>

<%= link_to "New creature", new_creature_path %>
