<div id="<%= dom_id creature_drop %>">
  <p>
    <strong>Creature:</strong>
    <%= creature_drop.creature_id %>
  </p>

  <p>
    <strong>Drop:</strong>
    <%= creature_drop.drop_id %>
  </p>

</div>
