<h1>Editing creature drop</h1>

<%= render "form", creature_drop: @creature_drop %>

<br>

<div>
  <%= link_to "Show this creature drop", @creature_drop %> |
  <%= link_to "Back to creature drops", creature_drops_path %>
</div>
