<p style="color: green"><%= notice %></p>

<h1>Creature drops</h1>

<div id="creature_drops">
  <% @creature_drops.each do |creature_drop| %>
    <%= render creature_drop %>
    <p>
      <%= link_to "Show this creature drop", creature_drop %>
    </p>
  <% end %>
</div>

<%= link_to "New creature drop", new_creature_drop_path %>
