<div id="<%= dom_id equipment_property %>">
  <p>
    <strong>Equipment:</strong>
    <%= equipment_property.equipment_id %>
  </p>

  <p>
    <strong>Attack:</strong>
    <%= equipment_property.attack %>
  </p>

  <p>
    <strong>Defense:</strong>
    <%= equipment_property.defense %>
  </p>

</div>
