<h1>Editing equipment property</h1>

<%= render "form", equipment_property: @equipment_property %>

<br>

<div>
  <%= link_to "Show this equipment property", @equipment_property %> |
  <%= link_to "Back to equipment properties", equipment_properties_path %>
</div>
