<div id="<%= dom_id monster_location %>">
  <p>
    <strong>Monster:</strong>
    <%= monster_location.monster_id %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= monster_location.location_id %>
  </p>

</div>
