/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
  scrollbar-gutter: stable;
  font-family: "Hylia Serif", system-ui;
  font-weight: lighter;
}

body {
  margin: 0;
  padding-top: 7.75rem;
  background-color: rgb(26, 20, 20);
  background-image: url("botw-background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@font-face {
  font-family: "Hylia Serif";
  src: url("HyliaSerifBeta-Regular.otf");
}

h1,
h2,
h3 {
  font-family: "Hylia Serif", system-ui;
  font-weight: lighter;
  text-transform: capitalize;
  color: white;
}

header h1 {
  text-align: center;
}

header {
  background-image: url("https://i.pinimg.com/originals/08/bd/c5/08bdc5060ee7eb4708339c693865ff4d.jpg");
  background-attachment: fixed;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 1rem;
  height: 4rem;
  border-bottom: 1px solid rgb(224, 209, 173);
}

.nav-header {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 4rem;
  width: 100%;
  z-index: 999;
  gap: 5px;
  margin: 0;
  padding: 0.5rem 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 33, 57, 0.60);
}

.nav-item {
  margin: 0.5rem;
  transition: transform 0.5s ease;
}

.nav-link:hover {
  background-color: rgba(26, 112, 185, 0.60);
}

.nav-page{
  margin: 0.5rem;
  transition: transform 0.5s ease;
  color: rgb(224, 209, 1);
  border-radius: 5px;
}

.nav-page:hover {
  transform: scale(1.2);
  box-shadow: -1px 1px 16px 8px rgba(206, 197, 1, 0.85);
  border-radius: 1000px;
}

.nav-page:active,
.nav-page.selected {
  transform: scale(1.2);
  box-shadow: -1px 1px 16px 8px rgba(224, 209, 1, 0.85);
}

.nav-link-page:hover{
  box-shadow: inset 1000px 0 0 0 rgba(206, 197, 1, 0.85);
  color: rgb(26, 20, 20);
}

.nav-link-page{
  color: rgb(224, 209, 1);
  box-shadow: inset 0 0 0 0 rgba(206, 197, 1, 0.65);
  border-radius: 1000px;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.nav-img {
  width: 2.938rem;
  height: 2.25rem;
}

.nav-item:hover {
  transform: scale(1.2);
  box-shadow: -1px 1px 16px 8px rgba(26, 112, 185, 0.85);
}

.nav-item:active,
.nav-item.selected {
  transform: scale(1.2);
  box-shadow: -1px 1px 16px 8px rgba(26, 112, 185, 0.85);
}


.search-anchor{
  transition: box-shadow .6s ease-in-out, background-color .6s ease-in-out;
}

.search-text {
  font-weight: normal;
  font-size: 1.2em;
  color: #ffffff;
}

.search-img{
  border-radius: 1000px;
  transition: transform 0.5s ease;
}

.search-img:hover{
  transform: scale(1.2);
  background-color: -1px 1px 16px 8px rgb(0, 193, 213, 0.85);
  box-shadow: -1px 1px 16px 8px rgb(0, 193, 213, 0.85);
}

.search-form{
  color: rgb(224, 209, 173);
  width: 90%;
  margin: auto;
}

.home-container{
  padding: 1em;
}

.home-container li{
  list-style: none;
}

/* Styles */

.app-header{
  margin: 0;
}

.entry-wrapper {
  margin: 0.2rem;
}

.entry-container {
  transition: all 300ms ease;
}

.entry-container:hover {
  background-color: rgb(1 29 70 / 70%);
  box-shadow: inset 0 0 0 0.5px rgb(183, 251, 254)
}

.col-img-wrapper > img {
  width: 4.375rem;
  height: 4.375rem;
  border-radius: 10%;
}

.text-blue {
  color: rgb(210, 229, 255);
}

.text-gold {
  color: rgb(224, 209, 173);
}

.font-arial{
  font-family: Arial, Helvetica, sans-serif;
}

.text-center{
  text-align: center;
}



/*show item*/

.item-container {
  padding-top: 3%;
}

.item-container .compendium {
  padding: 1em;
  border-radius: 20px;
  border: 3px solid #426787;
  background-color: rgb(1 29 70 / 70%);
  max-width: 80%;
  margin: 0 auto;
}

.item-container table {
  width: 100%;
  background: none;
}

.item-container .compendium-heading {
  font-weight: bold;
}

.item-container img {
  max-width: 300px;
  height: auto;
}

.item-id-name {
  text-align: center;
  padding: 0 1em;
}

.image-container {
  text-align: center;
}

.item-img {
  border: 2px solid rgb(183, 251, 254);
  max-width: 100%;
  height: auto;
}

.description-cell {
  vertical-align: top;
  padding-top: 1em;
}

.locations-cell {
  vertical-align: bottom;
}

.drops-cell {
  text-align: center;
  padding-left: 1em;
}

.cooking-effect-cell{
  text-align: center;
  padding-left: 1em;
}


/* Back link styling */
.back-link-wrapper{
  padding: 2em;
}

.back-link {
  display: block;
  margin-top: 20px;
  text-align: center;
  transition: transform 0.5s ease;
  color: rgb(224, 209, 1);
  border-radius: 5px;
  margin: 0 auto;
  max-width: fit-content;
}
.back-link:hover {
  transform: scale(1.2);
  box-shadow: -1px 1px 16px 8px rgba(206, 197, 1, 0.85);
  border-radius: 1000px;
}

.back-link:active,
.back-link.selected {
  transform: scale(1.2);
  box-shadow: -1px 1px 16px 8px rgba(224, 209, 1, 0.85);
}

.back-link-page:hover{
  box-shadow: inset 100px 0 0 0 rgba(206, 197, 1, 0.85);
  color: rgb(26, 20, 20);
}

.back-link-page{
  color: rgb(224, 209, 1);
  box-shadow: inset 0 0 0 0 rgba(206, 197, 1, 0.65);
  border-radius: 1000px;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

/* pagination sytles */

.pagination {
  padding: 1em;
}

.page a {
  color: rgb(224, 209, 1);
}

.next a, .last a, .first a, .prev a {
  transition: transform 0.5s ease, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  color: rgb(224, 209, 1);
  border-radius: 5px;
  box-shadow: inset 0 0 0 0 rgba(206, 197, 1, 0.65);
}

.next a:hover, .last a:hover, .first a:hover, .prev a:hover,
.pagination a:hover {
  box-shadow: inset 100px 0 0 0 rgba(206, 197, 1, 0.85);
  color: rgb(26, 20, 20);
}

.next a:active, .last a:active, .first a:active, .prev a:active,
.next a.selected, .last a.selected, .first a.selected, .prev a.selected,
.pagination a:active, .pagination a.selected {
  transform: scale(1.2);
  box-shadow: -1px 1px 16px 8px rgba(224, 209, 1, 0.85);
}

/* Desktop Layout */
*{
  box-sizing: border-box;
}

.row {
  display: flex;
}

.col-full {
  flex-basis: 100%;
}

.col-half {
  flex-basis: 50%;
}

.col-fluid {
  flex-basis: auto;
}

.col-modal {
  flex-basis: 100%;
}

.col-detail {
  flex-basis: 100%;
}

.col-sort {
  flex-basis: 100%;
}

.col-search {
  flex-basis: 90%;
}

.col-favorites {
  flex-basis: 100%;
}

.col-img {
  flex-basis: calc(100%/6);
}

.col-img-wrapper {
  width: 100%;
  flex-shrink: 0;
}

.col-name {
  flex-basis: calc(500%/6);
  cursor: pointer;
}

.col-name-wrapper {
  line-height: 0;
  margin: 1rem;
}

.col-5 {
  flex-basis: 5%;
}

/* Containers */

.entry-container {
  max-width: 90%;
}

.about-container{
  max-width: 90%;
  padding: 1em;
}

/* Utility Flex */

.center {
  justify-content: center;
  align-items: center;
}

.end {
  justify-content: end;
}

.space-between {
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}

/* Utility */

.block {
  display: block;
}

.hidden {
  display: none;
}

.in-line {
  display: inline;
}

.in-line-block {
  display: inline-block;
}

/* Media Queries */

@media only screen and (min-width: 700px) {
  .col-sm-half {
    flex-basis: 50%;
  }

  .col-sort {
    flex-basis: 25%;
  }
}

@media only screen and (min-width: 1100px) {
  .col-sm-half {
    flex-basis: calc(100%/3);
  }
}

@media only screen and (min-width: 1400px) {
  .col-lg-fourth {
    flex-basis: 25%;
  }

  .col-detail {
    flex-basis: 50%;
  }
}

@media only screen and (min-width: 2200px) {
  .col-lg-fourth {
    flex-basis: 20%;
  }
}