/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
  color-scheme: dark;
  scrollbar-gutter: stable;
  font-family: "Hylia Serif", system-ui;
  font-weight: lighter;
  text-transform: capitalize;
}

body {
  margin-block: 0;
  margin-inline: 20px;
  background-image: url("https://i.pinimg.com/originals/08/bd/c5/08bdc5060ee7eb4708339c693865ff4d.jpg");
  background-attachment: fixed;
  font-family: system-ui;
  color: white;
}

@font-face {
  font-family: "Hylia Serif";
  src: url("HyliaSerifBeta-Regular.otf");
}

h1,
h2,
h3 {
  font-family: "Hylia Serif", system-ui;
  font-weight: lighter;
  text-transform: capitalize;
  color: white;
}

header h1 {
  text-align: center;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-top: 30px;
  margin-bottom: 20px;
}

button {
  cursor: pointer;
}

nav button {
  background-color: transparent;
  border: none;
  filter: grayscale(0.7);
  transition: filter 300ms;
}

nav button:hover {
  filter: grayscale(0.3);
}

nav button:active,
nav button.selected {
  filter: grayscale(0);
}

p{
  color: white;
}
