<p style="color: green"><%= notice %></p>

<h1>Materials</h1>

<div class="compendium-container">
  <div id ="all-entries">
    <div class="row wrap">
      <% @materials.each do |material| %>
        <%= render partial: "material", locals: { material: material } %>
        </div>
      <% end %>
    </div>
  </div>
</div>