<div id="<%= dom_id creature_location %>">
  <p>
    <strong>Creature:</strong>
    <%= creature_location.creature_id %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= creature_location.location_id %>
  </p>

</div>
