<h1>Editing creature location</h1>

<%= render "form", creature_location: @creature_location %>

<br>

<div>
  <%= link_to "Show this creature location", @creature_location %> |
  <%= link_to "Back to creature locations", creature_locations_path %>
</div>
